#mapid { 
	height: 360px;
	width: 80%;
	display: inline-block;
}

#panel {
    width: 200px;
    height: 320px;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42px;
    background-color:  #bdbdbd;


}

#sequenceControls{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42px;
}

#textPanel{
	font-family: Times, serif;
    text-align: left;
    line-height: 1;
    font-size: 15px;
    color: black;

}

.range-slider {
    width: 50%;
}

#forward {
    float: right;
    margin-top: 5px;
}

#reverse {
    float: left;
    margin-top: 5px;
}
